{{outlet}}

<div class="jumbo">
    <div class="right tomster"></div>

    <h2>Welcome!</h2>

    <p>We hope you find exactly what you're looking for in a place to stay.</p>

    {{#link-to 'about' class="button"}}
        About Us
    {{/link-to}}
</div>

{{#each model as |game|}}
    <article class="game">
        <h3>{{game.title}}</h3>

        <div class="detail publisher">
            <span>Publisher:</span> {{game.publisher}}
        </div>

        <div class="detail genre">
            <span>Genre:</span> {{game.genre}}
        </div>

        <div class="detail year-published">
            <span>Year Released:</span> {{game.release}}
        </div>
    </article>
{{/each}}
